$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: red;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: red;
  text-decoration: none;
}

.center {
  text-align: center;
}

#sign {
  font-size: 1.7em;
  background-color: black;
  color: red;
}

.jumbotron {
  background-image: asset-url('Three_egyption_gods.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: red;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid red;
  color: black;
}

footer a:hover {
  color: green;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
